* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background-color: #ffffff;
}

/****** Header *******/

.navbar {
    width: 100vw;
    height: 78px;
}

.menu-item {
    margin-top: 31.5px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-link {
    margin: 0 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 2.7px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF0000;
    cursor: pointer;
}

/****** Main *******/

.hero {
    width: 100vw;
    text-align: center;
}

.hero-foto {
    width: 100vw;
}

.hero-title {
    margin-top: 48px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.hero-text {
    padding: 0 67.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.hero-text.first {
    margin-top: 38px;
}

.hero-text.second {
    margin-top: 28px;
}

.btn-get-stared {
    width: 191px;
    height: 51px;
    margin-top: 66px;
    margin-bottom: 42px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    border-width: 0;
    border-style: outset;
    border-color: #FF0000;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

/****** Footer *******/

.footer {
    width: 100vw;
    height: 118px;
    display: flex;
    justify-content: flex-end;

}

.copyright {
    margin: 40px 105px auto auto;
    position: absolute;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 2.4px;
    color: #373737;
}
